@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .btn-polygon {
      clip-path: polygon(18% 0, 100% 0, 100% 100%, 0 100%);
  }

  .table-polygon {
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }

  .text-primary-color {
      color: #1EB3A6;
  }

  .bg-navbar {
      background: rgba(228, 217, 217, 0.1);
  }

  .bg-navbar-2 {
      background: rgba(30, 179, 166, 0.2);
  }

  .text-hover {
      color: rgba(1, 84, 77, 1);
      transition: all ease 0.3s;
  }

  .bg-yellow {
      background-color: rgba(255, 153, 0, 1)
  }

  .bg-primary {
      background-color: rgba(91, 192, 183, 1);
  }

  .secondary-text {
      color: #1EB3A6;
  }

  .text-latest-news-color {
      color: #0D1530CC;
  }

  .banner-height {
      height: calc(100vh - 130px)
  }

  .file input[type="file"] {
      display: none
  }
}
